body {
  background-color:black;
  color:white;
  font-family:sans-serif;
}

.link {
  color:white !important;
}

#overlay {
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.5);
  position:absolute;
  top:0px;
  display:none;
}

#main_menu_selector {
  margin-left:auto;
  margin-right:auto;
}

#selector_signup, #selector_continue, #selector_login {
  width: 290px !important;
  height: 490px !important;
}

#selector_signup {
  background-image: url('images/signup.png');
}
#selector_signup:hover {
  background-image: url('images/signup_hover.png');
  cursor:pointer;
}

#selector_continue {
  background-image: url('images/continue.png');
}
#selector_continue:hover {
  background-image: url('images/continue_hover.png');
  cursor:pointer;
}

#selector_login {
  background-image: url('images/login.png');
}
#selector_login:hover {
  background-image: url('images/login_hover.png');
  cursor:pointer;
}

#logo_cell {
  background-image: url('images/j_logo.jpg');
  height: 70px;
  width: 70px;
}

#logo_table {
  margin-left:23%;
  margin-top:-10px;
  padding-bottom: 30px;
  cursor:pointer;
}

#logo_title {
  margin-left:30px;
  padding-left: 15px;
  font-family:Helvetica;
}

#menu_caption {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

#signup_title {
  text-align:center;
  margin-bottom:40px;
}

#signup_form {
  text-align:center;
}

#streetnumber_input {
  width:50px;
  margin-bottom:5px;
  text-align:center;
}

#street_input {
  text-align:center;
  width: 125px !important;
}

#city_input {
  width: 87.5px;
  text-align:center;
}

#postalcode_input {
  width: 87.5px;
  text-align:center;
}

.signup_input {
  text-align:center;
  width:186px;
}

#signup_submit {
  border: none;
  background-color: white;
  margin-top: 30px;
  margin-left:auto;
  margin-right:auto;
  display:block;
}

#menu_block {
  width:500px;
  height:601px;
  margin-left:auto;
  margin-right:auto;
}

.menu_table {
  width: 100%;
  height: 100%;
  color:black;
  padding-left:1px;
}

.menu_row {
  height: 200px;
  display:flex;
}

.menu_item_left, .menu_item_right {
  width:49%;
  background-color:black;
  margin-bottom:4px;
  margin-top:1px;
  font-size:20px;
}

.menu_item_left:hover, .menu_item_right:hover {
  opacity:0.7;
  cursor:pointer;
}

.menu_item_left {
  margin-right:4px;
}

#item1{
  background-image: url('images/alfredo.jpg');
}

#item2{
  background-image: url('images/lasagna.jpg');
}

#item3{
  background-image: url('images/seafoodlinguine.jpg');
}

#item4{
  background-image: url('images/spaghetti.jpg');
}

#item5{
  background-image: url('images/rotini.jpg');
}

#item6{
  background-image: url('images/ravioli.jpg');
}

#item7{
  background-image: url('images/topsirloin.jpg');
}

#item8{
  background-image: url('images/newyorksteak.jpg');
}

#item9{
  background-image: url('images/peppercornsteak.jpg');
}

#item10{
  background-image: url('images/sirloinoscar.jpg');
}

#item11{
  background-image: url('images/chickengnocci.jpg');
}

#item12{
  background-image: url('images/chickennoodle.jpg');
}

#item13{
  background-image: url('images/creamofbroccoli.jpg');
}

#item14{
  background-image: url('images/zuppatoscana.jpg');
}

#item15{
  background-image: url('images/spicythai.jpg');
}

#item16{
  background-image: url('images/beefvegetable.jpg');
}

#item17{
  background-image: url('images/cocacola.jpg');
}

#item18{
  background-image: url('images/icedtea.jpg');
}

#item19{
  background-image: url('images/gingerale.jpg');
}

#item20{
  background-image: url('images/rootbeer.jpg');
}

#item21{
  background-image: url('images/coffee.jpg');
}

#item22{
  background-image: url('images/tea.jpg');
}

#item23{
  background-image: url('images/icecream.jpg');
}

#item24{
  background-image: url('images/brownie.jpg');
}

#item25{
  background-image: url('images/strawberrysundae.jpg');
}

#item26{
  background-image: url('images/chocolatedeath.jpg');
}

#item27{
  background-image: url('images/applepie.jpg');
}

#item28{
  background-image: url('images/strawberrycheesecake.jpg');
}

.item_title{
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin-top: -1px;
  margin-left: -1px;
  width: 245px;
  border-width: 0px;
  text-align:center;
}

#item_detail_block {
  width:440px;
  height:300px;
  margin-top:200px;
  margin-left:auto;
  margin-right:auto;
  background-color:white;
  border: black;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  box-shadow: 0px 0px 60px #000000;
}

#exit_button {
  padding-left: 410px;
  cursor: pointer;
  background-color: black;
}

.item_price {
  background-color: rgba(0, 0, 0, 0.5);
  width: 50px;
  color: white;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: -1px;
  margin-top: 149px;
  font-weight:bold;
}

.item_detail_title {
  margin-top: -27px;
  margin-left: 7px;
  font-weight: bold;
}

.item_ingredients_title {
  color:black;
  margin-top:13px;
  margin-left: 7px;
  font-weight:bold;
}

.item_ingredients {
  color:black;
  margin-left: 7px;
  margin-top: 5px;
}

.item_allergens_title {
  color: black;
  margin-left: 7px;
  margin-top: 50px;
  font-weight: bold;
}

.item_allergens {
  color:black;
  margin-left: 7px;
  margin-top: 5px;
}

.special_instructions_title {
  color: black;
  margin-left: 210px;
  margin-top: -186px;
  font-weight: bold;
}

.special_instructions {
  margin-left: 210px;
  margin-top: 5px;
  resize: none;
}

.extra_options {
  color: black;
  margin-left: 206px;
  margin-top: 20px;
}

#submit_button {
  color: white;
  font-weight: bold;
  width: 68px;
  font-size: 15pt;
  padding: 5px;
  background-color: black;
  margin-left: 362px;
  margin-top: 27px;
  cursor:pointer;
}

#tab_selector {
  margin-left:auto;
  margin-right:auto;
  width:500px;
}

#tab_row {
  cursor:pointer;
}

.tab_choice {
  border-width: 48px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: black;
}

#dietary_restrictions {
  width: 152px;
  margin-top: -570px;
  margin-left: -175px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  padding: 5px;
}

#dietary_restrictions_title {
  border-bottom-style: solid;
  border-color: white;
  border-width: 2px;
  padding-bottom: 3px;
  font-weight:bold;
}

#order_summary {
  width: 230px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  padding: 5px;
  margin-top: -141px;
  margin-left: 510px;
}

#order_summary_title {
  border-bottom-style: solid;
  border-color: white;
  border-width: 2px;
  padding-bottom: 3px;
  font-weight:bold;
  text-align:center;
}

#order_items {
  padding-left: 4px;
  padding-top: 5px;
}

#order_total {
  width: 120px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-top-style: none;
  padding: 5px;
  margin-left: 510px;
}

#order_total_title {
  font-weight:bold;
  display:inline;
}

#order_total_amount {
  display:inline;
}

#dietary_restrictions_input {
  margin-top:6px;
}

.dietary_checkbox {
  margin-bottom:9px;
  margin-right:6px;
}

#checkout {
  border: solid;
  border-width: 1px;
  border-top-width: 0px;
  margin-left: 641px;
  width: 109px;
  font-weight: bold;
  text-align: center;
  margin-top: -30px;
  padding-top: 6px;
  height: 23px;
  cursor:pointer;
}

#checkout_block {
  width: 440px;
  min-height: 300px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: black;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  box-shadow: 0px 0px 60px #000000;
  overflow: auto;
}

.checkout_title {
  margin-top: -27px;
  margin-left: 7px;
  font-weight: bold;
}

.checkout_list {
  color:black;
  margin-top: 15px;
}

.checkout_list_table_cell_left {
  display: block;
  width: 350px;
  font-weight: bold;
}

.checkout_list_table_cell_right {
  width:59px;
}

.order_delete_button {
  cursor:pointer;
}
