body {
  background-color:black;
  color:white;
  font-family:sans-serif;
}

.link {
  color:white !important;
}

#selector_signup, #selector_continue, #selector_login {
  width: 290px !important;
  height: 490px !important;
  border-radius:15px;
}

#selector_signup {
  background-image: url('images/signup.png');
}
#selector_signup:hover {
  background-image: url('images/signup_hover.png');
}

#selector_continue {
  background-image: url('images/continue.png');
}
#selector_continue:hover {
  background-image: url('images/continue_hover.png');
}

#selector_login {
  background-image: url('images/login.png');
}
#selector_login:hover {
  background-image: url('images/login_hover.png');
}

#selector_signup {

}
