body {
  background-color:black;
  color:white;
  font-family:sans-serif;
}

.link {
  color:white !important;
}

#main_menu_selector {
  margin-left:auto;
  margin-right:auto;
}

#selector_signup, #selector_continue, #selector_login {
  width: 290px !important;
  height: 490px !important;
}

#selector_signup {
  background-image: url('images/signup.png');
}
#selector_signup:hover {
  background-image: url('images/signup_hover.png');
  cursor:pointer;
}

#selector_continue {
  background-image: url('images/continue.png');
}
#selector_continue:hover {
  background-image: url('images/continue_hover.png');
  cursor:pointer;
}

#selector_login {
  background-image: url('images/login.png');
}
#selector_login:hover {
  background-image: url('images/login_hover.png');
  cursor:pointer;
}

#logo_cell {
  background-image: url('images/j_logo.jpg');
  height: 70px;
  width: 70px;
}

#logo_table {
  margin-left:23%;
  margin-top:-10px;
  padding-bottom: 30px;
}

#logo_title {
  margin-left:30px;
  padding-left: 15px;
  font-family:Helvetica;
}
